@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    width: 100%;
    height: auto;
    background-image: url("/assets/imges/BG-Bestcar.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Bebas Neue", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.nav-bar-main{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
}
.profile{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.imgprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.uname{
    color: white;
    margin-left: 1vw;
}
.line{
    background-color: white; 
    width: 2px; 
    height: 40px; 
    margin-right: 1vw;
    border-radius: 40%;
}
.buttonRK{
    margin-right: 1vw;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.toggle-btn{
    padding: 10px  30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
#btn {
    right: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:  #bb0102;
    border-radius: 30px;
    transition: .5s;
}
.number{
    width: 10%;
    font-weight: 500;
    font-size: 4rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Black Ops One", system-ui;
}

.menu {
    width: 80px;
    margin-left: 1vw;
    font-size: 16px;
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000000; 
    color: white;
    font-family: "Bebas Neue", sans-serif;
  }
  .menu-option{
    border: 1px solid #ccc; /* ขอบของตัวเลือก */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* เงาของตัวเลือก */
    background-color: #ffffff;
    color: #000000;
  }
  .menu-option:hover{
    background-color: #bb0102; /* สีพื้นหลังเมื่อ hover หรือ focus */
    color: #ffffff; /* สีตัวอักษรเมื่อ hover หรือ focus */
  }
  
.main-content{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head-main{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topten{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.tt {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 50px;
}
.tc{
    margin-left: 10px;
    color: #bb0102;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 50px;
}
.topname{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 3vw;
}
.main-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-rank{
    width: 80%;
    height: auto;
    background-color: #0000007c;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.card-rank:hover{
    transform: scale(1.1);
 
}
.up {
    color: green; /* สีเขียวสำหรับลำดับขึ้น */
  }
  
  .down {
    color: red; /* สีแดงสำหรับลำดับลง */
  }
  
.imgrank{
    width: 250px;
    height: 80%;
    object-fit: cover;
}
.detailcar{
    height: 100%;
    width: 50%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}
.line-card{
    width: 5px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 50px;
    margin-left: 10px;
}
.line-rank{
    width: 5px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.memandrank{
    width: 36%;
    height: 100%;
    display: flex;
    align-items: center;
}
.deatilmember{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailrank{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.font-dm{
    font-size: 20px;
    margin-right: 5px;
}
@media (max-width: 700px){
    body{
        background-image: url("/assets/imges/BG-BcForPhone.png");
    }
    .logo{
        width: 40%;
    }
    .line{
        display: none;
    }
    .buttonRK{
        display: none;
    }
    .menu{
        width: 50px;
        font-size: 10px;
    }
    .main-content{
        height: auto;
    }

    .head-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-main{
        width: 90%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .bt-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bt-main button{
        width: 15vw;
        font-size: xx-small;
        margin-bottom: 2vw;
    }
    .bt-vote{
        margin-right: 0;
    }
    .topten{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -5vw;
    }
    .topten{
        justify-content: center;
    }
    .tt{
        font-size: 30px;
    }
    .tc{
        margin-left: 10px;
        font-size: 30px;
    }
    .topname{
        width: 100%;
        font-size: large;
        flex-direction: column;
        align-items: center;
    }
    .card-rank{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .number{
        margin-right: 0;
    }
    .detailcar{
        align-items: center;
        width: 90%;
    }
    .line-card{
        height: 2px;
        width: 90%;
    }
    .button-box{
        margin-top: -20px;
    }
    .line-rank{
        width: 2px;
        height: 90%;
    }
    .memandrank{
        width: 100%;
        height: 120px;
    }
    .deatilmember{
        width: 50%;
    }
    .detailrank{
        width: 50%;
        margin-top: 10px;
    }
}
