<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                  <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
                    <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
                  </a>
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="/assets/imges/user.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="upload">Upload</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="topten">
                   <p class="tt" >TOP 10 THE BEST</p>
                   <p class="tc">CAR</p> 
                </div>
                <div class="topname">
                    <p class="font-dm">{{ currentDate | date: 'dd MMM yyyy HH:mm:ss' }}</p>
                    <!-- <div class="form-box"> -->
                        <!-- <div class="button-box" style="display: flex; flex-direction: row;"> -->
                            <!-- <div id="btn"></div> -->
                            <!-- <button type="button" class="toggle-btn"  (click)="before()">Before</button>
                            <button type="button" class="toggle-btn"  (click)="today()">Today</button> -->
                        <!-- </div> -->
                    <!-- </div> -->
                 </div> 
            </div>
            <div *ngIf="!selectedData || selectedData.length === 0">
              <div class="main-main" *ngFor="let item of data  ; let i = index ">
                <div class="card-rank" (click)="goDetailcar(item.upid)">
                  <div class="number">{{ i + 1 }}</div>
                  <img src="{{ item.img_car }}" class="imgrank" alt="">
                  <div class="detailcar">
                    <p class="font-dm">{{ item.name_img }}</p> 
                    <p style="margin-top: -1vw;">{{ item.detail }}</p>
                  </div>
                  <div class="line-card"></div>
                  <div class="deatilmember">
                    <p class="font-dm">{{ item.username }}</p>
                    <p class="font-dm" style="margin-top: -20px;">{{ item.total_score }}</p>
                    
                    <span style="vertical-align: middle;" *ngIf="rankChanges && rankChanges.length > i">
                      <mat-icon [ngClass]="{
                        'up': getRankChange(item.upid) > 0,
                        'down':getRankChange(item.upid) < 0,
                        'forward': getRankChange(item.upid) === 0
                      }">
                        {{ getRankChange(item.upid) > 0 ? 'arrow_drop_up' :getRankChange(item.upid) < 0 ? 'arrow_drop_down' : '' }}
                      </mat-icon>
                    </span>
                    
                    <p>{{ getRankChange(item.upid) }}</p>
                  </div>
                </div>
              </div>
            </div>
            
      <!-- วันก่อน -->
              <div *ngIf="selectedData && selectedData.length > 0">
              <div class="main-main" *ngFor="let item of selectedData; let i = index">
                  <div class="card-rank"  (click)="goDetailcar(item.upid)">
                      <div class="number">{{ i + 1 }}</div>
                    <img src="{{ item.img_car }}" class="imgrank" alt="">
                    <div class="detailcar">
                      <p class="font-dm">{{ item.name_img }}</p>
                      <p style="margin-top: -1vw;">{{ item.detail }}</p>
                    </div>
                    <div class="line-card"></div>
                    <div class="deatilmember">
                      <p class="font-dm">{{ item.username }}</p>
                      <p class="font-dm" style="margin-top: -20px;">{{ item.total_score }}</p>
                      <!-- <span style="vertical-align: middle; ">
                        <mat-icon [ngClass]="{
                          'up': todayRank[i] === 1,
                          'down': todayRank[i] === -1,
                          'no-change': todayRank[i] === 0
                        }">
                          {{ todayRank[i] === 1 ? 'arrow_drop_up' : todayRank[i] === -1 ? 'arrow_drop_down' : '' }}
                        </mat-icon>
                      </span> -->
                      <p class="font-dm" style="margin-top: -20px;">{{ item.rank}}</p>
                    </div>
                  </div>
                </div></div>
              
        </div>
    </div>
</body>


