<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                    <img src="assets/imges/BC_3D_Color.png" alt="" class="logo">
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-3-1/128/racing_person_car_avatar_sport_occupation_speed-512.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="upload">Upload</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="upload">
                   <p class="ul" >UP</p>
                   <p class="ul" style="color: #bb0102;">LOAD</p> 
                </div>
                <div class="topname"></div> 
            </div>
            <div class="main-main">
              <div class="card-upload">
                <form class="form">
                  <p class="fontinput" style="color: white;">Select Your car</p>
                    <input class="upload-box" type="file" accept="image/*, text/*" name="file"/>
                  <p class="fontinput"  style="color: white;">Name Car</p>
                    <input class="input" style="color: rgb(0, 0, 0);" type="text" name="namecar" required>
                  <p class="fontinput"  style="color: white;">Details car</p>
                    <textarea class="textarea" name="detailscar">  </textarea>
                    <button class="font-login2" mat-raised-button style="background-color: #990000; color: #fff; width: 100px; margin-top: 30px;">
                      Save
                    </button>
                </form>
                
              </div>
              
            </div>
        </div>
    </div>    
</body>
