<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                    <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
                        <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
                    </a>
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;"  [routerLink]="['/toprank']">TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="/assets/imges/user.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="upload">Upload</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="prof">
                   <p class="pf" >PRO</p>
                   <p class="pf" style="color: #bb0102; margin-left: 2%;">FILE</p> 
                </div>
                <div class="topname"></div> 
            </div>
            <div class="main-main">
                <div class="head-profile">
                    <div *ngIf="user; else notLoggedIn" class="imageprofile2">
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile2">
                        </span>
                        <span *ngIf="!user.img_user">
                            <img src="/assets/imges/user.png" alt="" class="imgprofile2">
                          </span>
                    </div>
                    <div *ngIf="user; else notLoggedIn" class="detailprofile">
                        <p>Username: {{user.username}}</p>
                        <p class="mg-dt-pf">Email: {{user.email}}</p>
                        <p class="mg-dt-pf">Phone: {{user.mobile_number}}</p>
                    </div>
                    <div class="head-bt">
                        <button mat-raised-button class="bt" (click)="openPopup()" style="background-color: #bb0102; color: white;">Edit profile</button>
                        <button mat-raised-button class="btr" (click)="openPopupReset()" style="background-color: #bb0102; color: white;">Reset Password</button>
                    </div>
                    
                </div>

                <div class="line2"></div>
                <div class="car" *ngFor="let itm of data">
                    <img src="{{itm.img_car}}" alt="" class="imgcar">
                    <div class="detailcar">
                        <p style="font-size: 20px; margin-bottom: 0;">{{itm.name_img}}</p>
                        <p style="font-size: 10px;">{{itm.detail}}</p>
                        <p style="font-size: 30px; color: white; ">Total Score : {{itm.total_score}}</p>
                    </div>
                    <div class="car-bt">
                        <button mat-raised-button class="bt" (click)="openPopupEditcar()" style="background-color: #bb0102; color: white;">Change</button>
                    </div>
                </div>
                <div class="add_car" *ngIf="data.length < 5">
                    <img class="add_img" src="/assets/imges/add_img.png" alt="">
                </div>
            </div>
        </div>
        
    </div>  
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div style="width: 100%;">
                <span class="close" (click)="closePopup()">&times;</span>
            </div>
            <p class="edit-pf-font">Edit Profile</p>
            <form class="form-class">
                <p class="form-pf-font">Select Your Picture</p>
                <img [src]="imageSrc" *ngIf="imageSrc" class="preview-image">
                <img src="/assets/imges/user.png" *ngIf="!imageSrc" class="preview-image">
                    <input class="upload-box" type="file" #fileUpload (change)="previewImage($event)"/>
                <p class="form-pf-font">Username</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Username</mat-label>
                    <input type="text" name="username" matInput required >
                </mat-form-field>
                <p class="form-pf-font">Email</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Email</mat-label>
                    <input type="email" name="email" matInput required >
                </mat-form-field>
                <p class="form-pf-font">Phone</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Phone</mat-label>
                    <input type="text" name="phone" matInput required >
                </mat-form-field>
                <p class="form-pf-font">Instagram</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Instagram</mat-label>
                    <input type="text" name="instagram" matInput required >
                </mat-form-field>
                <br>
                <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px;">
                    Save
                </button>
            </form>
        </div>
    </div> 
    <div id="reSetPass" class="modal">
        <div class="modal-content">
            <div style="width: 100%;">
                <span class="close" (click)="closePopupReset()">&times;</span>
            </div>
            <p class="edit-pf-font">Reset Password</p>
            <form class="form-class">
                <p class="form-pf-font">Old Password</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Old Password</mat-label>
                    <input type="password" name="oldpassword" matInput required >
                </mat-form-field>
                <p class="form-pf-font">New Password</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">New Password</mat-label>
                    <input type="password" name="newpassword" matInput required >
                </mat-form-field>
                <p class="form-pf-font">Comfirm Password</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Comfirm Password</mat-label>
                    <input type="password" name="comfirmpassword" matInput required >
                </mat-form-field>
                <br>
                <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px;">
                    Reset
                </button>
            </form>
        </div>
    </div>  
    <div id="editcar" class="modal">
        <div class="modal-content">
            <div style="width: 100%;">
                <span class="close" (click)="closePopupEditcar()">&times;</span>
            </div>
            <p class="edit-pf-font">Change car</p>
            <form class="form-class">
                <p class="form-pf-font">Select Your Car Picture</p>
                <img [src]="imageCar" *ngIf="imageCar" class="preview-imagecar">
                <!-- แสดงรูปรถคันเก่านะเติ้ล -->
                <img src="/assets/imges/2023-Porsche-Mission-X-Concept-001-1080.jpg" *ngIf="!imageCar" class="preview-imagecar"> 
                <input class="upload-box" type="file" #fileUpload (change)="previewImageCar($event)"/>
                <p class="form-pf-font">Name your car</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Name your car</mat-label>
                    <input type="password" name="namecar" matInput required >
                </mat-form-field>
                <p class="form-pf-font">Details</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Details</mat-label>
                    <input type="password" name="detailcar" matInput required >
                </mat-form-field>
                <br>
                <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px;">
                    Change
                </button>
            </form>
        </div>
    </div> 
</body>

