<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                    <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
                        <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
                    </a>
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                      <button mat-raised-button class="buttonRK" *ngIf="user.type == 'admin'" (click)="goListUsers()" style="background-color: #bb0102; color: white;" >LIST USER</button>
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;"  [routerLink]="['/toprank']">TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="/assets/imges/user.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="home">Home</option>
                                <option class="menu-option" *ngIf="user.type == 'admin'" value="listuser">List User</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="vote">Vote</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="prof">
                   <p class="pf" >PRO</p>
                   <p class="pf" style="color: #bb0102; margin-left: 2%;">FILE</p> 
                </div>
                <div class="topname"></div> 
            </div>
            <div class="main-main">
                <div class="head-profile">
                    <div *ngIf="user; else notLoggedIn" class="imageprofile2">
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile2">
                        </span>
                        <span *ngIf="!user.img_user">
                            <img src="/assets/imges/user.png" alt="" class="imgprofile2">
                          </span>
                    </div>
                    <div *ngIf="user; else notLoggedIn" class="detailprofile">
                        <p>Username: {{user.username}}</p>
                        <p class="mg-dt-pf">Email: {{user.email}}</p>
                        <p class="mg-dt-pf">Phone: {{user.mobile_number}}</p>
                        <div class="inst" *ngIf="user.url_user != null">
                            <a href="https://www.instagram.com/{{user.url_user}}" style="display: flex; align-items: center; margin-right: 10px;"><img class="ig-img" src="/assets/imges/ig.png" alt=""></a>
                            <p>: {{user.url_user}}</p>
                        </div>
                        <div class="inst" *ngIf="user.url_user === null">
                            <img class="ig-img" src="/assets/imges/ig.png" alt="">
                        </div>
                        
                    </div>
                    <div class="head-bt">
                        <div class="bt" (click)="openPopup()">
                            <mat-icon fontIcon="edit"></mat-icon>
                        </div>
                        <div class="btr" (click)="openPopupReset()">
                            <mat-icon fontIcon="lock_reset"></mat-icon>
                        </div>
                    </div>
                    
                </div>

                <div class="line2"></div>
            <ng-container *ngFor="let itm of data ; let i = index"   >
                <div class="box-car" *ngIf="itm.img_car != null" >
                    <img src="{{itm.img_car}}" alt="" class="imgcar" style="cursor: pointer;" (click)="goDetailcar(itm.upid)">
                    <div class="detailcar">
                        <p style="font-size: 20px; margin-bottom: 0;">{{itm.name_img}}</p>
                        <p style="font-size: 15px;">{{itm.detail}}</p>
                        <div class="rank-today">
                            <p class="rank-font">Rank to day : {{getRankByCarId(itm.upid)}}</p>
                            <span class="rank-change" *ngIf="rankChanges && rankChanges.length > i">
                                <mat-icon [ngClass]="{
                                  'up': getRankChange(itm.upid) > 0,
                                  'down':getRankChange(itm.upid) < 0,
                                  'forward': getRankChange(itm.upid) === 0
                                }">
                                  {{ getRankChange(itm.upid) > 0 ? 'arrow_drop_up' :getRankChange(itm.upid) < 0 ? 'arrow_drop_down' : '' }}
                                </mat-icon> 
                                <p style="margin-left: 5px;">{{ getRankChange(itm.upid)}}</p>
                              </span>
                        </div>
                        <p style="margin-top: -10px;">Rank Yesterday : {{getRankbeforByCarId(itm.upid)}}</p>
                        <p style="margin-top: -5px; font-size: 30px; color: white; ">Total Score : {{itm.total_score}}</p>
                    </div>
                    
                    <div class="car-bt">
                        <div class="bt" (click)="openPopupEditcar(itm.upid)">
                            <mat-icon fontIcon="edit"></mat-icon>
                        </div>
                    </div>
                </div>
            </ng-container>
                <div class="add_car" *ngIf="data.length < 5">
                    <img class="add_img" src="/assets/imges/add_img.png" alt="" [routerLink]="['/upload',]">
                </div>
            </div>
                
            </div>   
        </div>   
 
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div style="width: 100%;">
                <span class="close" (click)="closePopup()">&times;</span>
            </div>
            <p class="edit-pf-font">Edit Profile</p>
            <form class="form-class" *ngIf="user;">
                <p class="form-pf-font">Select Your Picture</p>
                <img [src]="imageSrc" *ngIf="imageSrc" class="preview-image">
                <img *ngIf="!imageSrc && user.img_user" [src]="user.img_user" class="preview-image">
                <img *ngIf="!imageSrc && !user.img_user" src="/assets/imges/user.png" class="preview-image">
                    <input class="upload-box" type="file" #fileUpload (change)="previewImage($event)"/>
                <p class="form-pf-font">Username</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Username</mat-label>
                    <input type="text" name="username" matInput   [ngModel]="user.username" #usernameInput  >
                </mat-form-field>
                <p class="form-pf-font">Email</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Email</mat-label>
                    <input type="email" name="email" matInput   [ngModel]="user.email" #emailInput >
                </mat-form-field>
                <p class="form-pf-font">Phone</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Phone</mat-label>
                    <input type="text" name="phone" matInput  [ngModel]="user.mobile_number" #phoneInput >
                </mat-form-field>
                <p class="form-pf-font">Instagram</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Instagram</mat-label>
                    <input type="text" name="instagram" matInput  [ngModel]="user.url_user" #urlInput >
                </mat-form-field>
                <br>
                <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px;" (click)="editprofile(usernameInput.value,emailInput.value,phoneInput.value,urlInput.value)">
                    Save
                </button>
            </form>
        </div>
    </div> 
    <div id="reSetPass" class="modal">
        <div class="modal-content">
            <div style="width: 100%;">
                <span class="close" (click)="closePopupReset()">&times;</span>
            </div>
            <p class="edit-pf-font">Reset Password</p>
            <form class="form-class">
                <p class="form-pf-font">Old Password</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Old Password</mat-label>
                    <input type="password" name="oldpassword" matInput required [(ngModel)]="oldpass">
                </mat-form-field>
                <p class="form-pf-font">New Password</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">New Password</mat-label>
                    <input type="password" name="newpassword" matInput required [(ngModel)]="newpass">
                </mat-form-field>
                <p class="form-pf-font">Comfirm Password</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Comfirm Password</mat-label>
                    <input type="password" name="comfirmpassword" matInput required  [(ngModel)]="confirmpass">
                </mat-form-field>
                <br>
                <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px;"  (click)="editpassword(newpass,oldpass)">
                    Reset
                </button>
            </form>
        </div>
    </div>  
    <div id="editcar" class="modal">
        <div class="modal-content" *ngIf="cars">
            <div style="width: 100%;">
                <span class="close" (click)="closePopupEditcar()">&times;</span>
            </div>
            <p class="edit-pf-font">Change car</p>
            <form class="form-class" *ngFor="let itm of cars">
                <p class="form-pf-font">Select Your Car Picture</p>
                <img [src]="imageCar" *ngIf="imageCar" class="preview-imagecar">
                <img *ngIf="!imageCar && itm.img_car" [src]="itm.img_car" class="preview-imagecar">
                <img *ngIf="!imageCar && !itm.img_car" src="/assets/imges/2023-Porsche-Mission-X-Concept-001-1080.jpg" class="preview-imagecar">
                <input class="upload-box" type="file" #fileUpload (change)="previewImageCar($event)"/>
                <p class="form-pf-font">Name your car</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Name your car</mat-label>
                    <input type="text" name="namecar" matInput required [ngModel]="itm.name_img" #nameInput>
                </mat-form-field>
                <p class="form-pf-font">Details</p>
                <mat-form-field class="comment" appearance="outline">
                    <mat-label class="labelfont">Details</mat-label>
                    <input type="text" name="detailcar" matInput required [ngModel]="itm.detail" #detaiInput>
                </mat-form-field>
                <br>
                <div style="display: flex; flex-direction: row;">
                <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px; margin-right: 2px;" (click)="changeCar(nameInput.value,detaiInput.value)">
                    Change
                </button>
                <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px;" (click)="deleteCar()">
                    Delete
                </button>
            </div>
            </form>
        </div>
    </div> 
</body>

<div class="loading-window"   *ngIf="loading" #loadingWindow >
    <div class="car">
        <div class="strike"></div>
        <div class="strike strike2"></div>
        <div class="strike strike3"></div>
        <div class="strike strike4"></div>
        <div class="strike strike5"></div>
        <div class="car-detail wheel"></div>
    </div>

    <div class="text">
        <span>Loading</span><span class = "dots">...</span>
    </div>
</div>