@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
body{
    width: 100%;
    height: auto;
    background-image: url("/assets/imges/BG-Bestcar.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Bebas Neue", sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.nav-bar-main{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
    transition: transform 0.3s;
}
.logo:hover{
    transform: scale(1.2);
}
.profile{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.imgprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.uname{
    color: white;
    margin-left: 1vw;
}
.line{
    background-color: white; 
    width: 2px; 
    height: 40px; 
    margin-right: 1vw;
    border-radius: 40%;
}
.buttonRK{
    margin-right: 1vw;
}
.menu {
    width: 80px;
    margin-left: 1vw;
    font-size: 16px;
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000000; 
    color: white;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
  }
  .menu-option{
    border: 1px solid #ccc; /* ขอบของตัวเลือก */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* เงาของตัวเลือก */
    background-color: #ffffff;
    color: #000000;
  }
  .menu-option:hover{
    background-color: #bb0102; /* สีพื้นหลังเมื่อ hover หรือ focus */
    color: #ffffff; /* สีตัวอักษรเมื่อ hover หรือ focus */
  }
  
.main-content{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.head-main{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prof{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.pf {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 50px;
}
.topname{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}
.main-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000021;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}
.head-profile{
    width: 80%;
    height: 20vw;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}
.imageprofile2{
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgprofile2{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 50%;
}
.detailprofile{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: "Kanit", sans-serif;
}
.mg-dt-pf{
    margin-top: -20px;
}
.detailprofile p{
    font-size: 2vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.head-bt{
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: top;
    margin-left: 10%;
}
.line2{
    height: 0.1vw;
    width: 90%;
    background-color: rgba(153, 153, 153, 0.485);
    margin-bottom: 1vw;
    border-radius: 100px;
}
.box-car{
    display: flex;
    align-items: center;
    width: 90%;
    height: 200px;
    margin-bottom: 1vw;
    border-radius: 10px;
    background-color: #00000050;
    backdrop-filter: blur(5px);
    padding-left: 2vw;
    padding-right: 2vw;
    box-shadow: 5px 5px 5px #6c6c6c;
}
.up {
    color: green; /* สีเขียวสำหรับลำดับขึ้น */
    font-size: 35px;
    display: flex;
    align-items: center;
    margin-right: 2px;
  }
  
  .down {
    color: red; /* สีแดงสำหรับลำดับลง */
    font-size: 35px;
    display: flex;
    align-items: center;
    margin-right: 2px;
  }
.imgcar{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 2vw;
}
.detailcar{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.car-bt{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 10%;
    height: 50%;
}
.add_car{
    display: flex;
    align-items: center;
    width: 95%;
    height: 200px;
    margin-bottom: 1vw;
    border-radius: 10px;
    background-color: #00000050;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 5px #6c6c6c;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
}
.add_car:hover{
    transform: scale(1.02); /* เพิ่มการขยายขนาด */
    box-shadow: 10px 10px 6px rgb(34, 34, 34); /* เพิ่มเงา */
}
.add_img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    object-fit: cover;
}
.add_img:hover{
    background-color: #00000070;
}
.bt{
    font-size: 1vw;
}
.btr{
    font-size: 1vw;
    margin-top: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: fadeIn 1s ease;
  }
  .modal.hide {
    animation: fadeOut 1s ease forwards;
}
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 500px;
    border-radius: 10px;
    overflow: auto;
  }
.edit-pf-font{
    font-size: 30px;
    font-weight: bold;
}
.form-pf-font{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 1px;
}
.form-class{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 90%;
}
.comment{
    width: 100%;
    margin-bottom: -2vw;
}
::ng-deep .comment .mdc-notched-outline > *{
    border-color: rgb(0, 0, 0) !important;
}

.comment input::placeholder{
    color: rgb(0, 0, 0);
}
.labelfont{
    color: #000000;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .upload-box{
    font-size: 10px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    width: 300px;
    outline: none;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
}
::-webkit-file-upload-button{
    color: white;
    background-color: #bb0102;
    padding: 1vw;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
}
.preview-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #888;
    margin-bottom: 10px;
}
.preview-imagecar{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #888;
    margin-bottom: 10px;
}
@media (max-width: 700px){
    body{
        background-image: url("/assets/imges/BG-BcForPhone.png");
        overflow: auto;
    }
    .logo{
        width: 40%;
    }
    .line{
        display: none;
    }
    .buttonRK{
        display: none;
    }
    .menu{
        width: 50px;
        font-size: 10px;
    }
    .main-content{
        height: 780px;
    }
    .mg-dt-pf{
        margin-top: 0;
    }

    .head-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-main{
        width: 100px;
        object-fit: cover;
        border-radius: 10px;
    }
    .bt{
        width: 10px;
        font-size: 10px;
    }
    .btr{
        margin-top: 2px;
        width: 10px;
        font-size: 8px;
    }
    .box-car{
        height: auto;
        padding-top: 10px;
        flex-direction: column;
    }
    .imgcar{
        width: 150px;
        height: 100px;
    }
    .prof{
        justify-content: center;
    }
    .pf{
        font-size: 30px;
    }
    .modal-content{
        margin-top: 35%;
        width: 80%;
        align-items: center;
    }
    .comment{
        margin-bottom: -30px;
    }
    .upload-box{
        font-size: 15px;
        width: 280px;
    }
    .preview-imagecar{
        width: 280px;
        height: 150px;
    }
}


///Loading 
$border-color: #fff;
$background-color: #333;
$border-radius-big: 6px;
$font-size-header: 16px;

$car-color: $border-color;
$spin-deg: 36deg;

@keyframes spin {
	0% {
		transform: translate(2px, 1px) rotate($spin-deg * 0);
	}
	10% {
		transform: translate(-1px, -3px) rotate($spin-deg * 1);
	}
	20% {
		transform: translate(-2px, 0px) rotate($spin-deg * 2);
	}
	30% {
		transform: translate(1px, 2px) rotate($spin-deg * 3);
	}
	40% {
		transform: translate(1px, -1px) rotate($spin-deg * 4);
	}
	50% {
		transform: translate(-1px, 3px) rotate($spin-deg * 5);
	}
	60% {
		transform: translate(-1px, 1px) rotate($spin-deg * 6);
	}
	70% {
		transform: translate(3px, 1px) rotate($spin-deg * 7);
	}
	80% {
		transform: translate(-2px, -1px) rotate($spin-deg * 8);
	}
	90% {
		transform: translate(2px, 1px) rotate($spin-deg * 9);
	}
	100% {
		transform: translate(1px, -2px) rotate($spin-deg * 10);
	}
}

@keyframes speed {
	0% {
		transform: translate(2px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -3px) rotate(-1deg);
	}
	20% {
		transform: translate(-2px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 3px) rotate(-1deg);
	}
	60% {
		transform: translate(-1px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-2px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(2px, 1px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes strikes {
	from {
		left: 25px;
	}
	to {
		left: -80px;
		opacity: 0;
	}
}

@keyframes dots {
	from {
		width: 0px;
	}
	to {
		width: 15px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


.fadeIn {
	animation: fadeIn 0.4s both;
}

.loading-window {
	@extend .fadeIn;
	border-radius: 6px;
    background-color: #0000003c;
    backdrop-filter: blur(1px);
	color: #000000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
	font-size: 16px;
	position: absolute;
	width: auto;
    margin-top: 100px;
	color: #ebebeb; /* ใส่สีขอบตัวหนังสือ */
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* เพิ่มเงาให้ตัวหนังสือ */
}


.dots {
	display: inline-block;
	width: 5px;
	overflow: hidden;
	vertical-align: bottom;
	animation: dots 1.5s linear infinite;
	transition: 1;
}

.car {
	position: absolute;
	width: 117px;
	height: 42px;
}

.strike {
	position: absolute;
	width: 11px;
	height: 1px;
    margin-top: 10px;
	background: #1b1b1b;
	animation: strikes 0.2s linear infinite;
}

.strike2 {
	top: 11px;
	animation-delay: 0.05s;
}

.strike3 {
	top: 22px;
	animation-delay: 0.1s;
}

.strike4 {
	top: 33px;
	animation-delay: 0.15s;
}

.strike5 {
	top: 44px;
	animation-delay: 0.2s;
}


.car-detail.wheel {
    position: absolute;
    height: 120px;
    width: 120px;
    background: url('/assets/imges/loading.gif') no-repeat center center / cover; /* แทน path/to/your/wheel.gif ด้วย URL ของ GIF ล้อของคุณ */
    animation-name: spin;
    margin-top: -20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}