<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                    <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
                        <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
                    </a>
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                        <button mat-raised-button class="buttonRK" *ngIf="user.type == 'admin'" (click)="goListUsers()" style="background-color: #bb0102; color: white;" >LIST USER</button>
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;"  [routerLink]="['/toprank']">TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="/assets/imges/user.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="home">Home</option>
                                <option class="menu-option" *ngIf="user.type == 'admin'" value="listuser">List User</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="vote">Vote</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="prof">
                   <p class="pf" >PRO</p>
                   <p class="pf" style="color: #bb0102; margin-left: 2%;">FILE</p> 
                </div>
                <div class="topname"></div> 
            </div>
            <div class="main-main" >
                <div class="head-profile">
                    <div *ngIf="usercom; else notLoggedIn" class="imageprofile2">
                        <div *ngFor="let itm of usercom">
                        <span *ngIf="itm.img_user">
                            <img src="{{itm.img_user}}" alt="" class="imgprofile2">
                        </span>
                        <span *ngIf="!itm.img_user">
                            <img src="/assets/imges/user.png" alt="" class="imgprofile2">
                          </span>

                        </div>
                    </div>
                    <div *ngIf="usercom; else notLoggedIn" class="detailprofile">
                        <div *ngFor="let itm of usercom">
                        <p>Username: {{itm.username}}</p>
                        <!-- <p class="mg-dt-pf">Email: {{itm.email}}</p> -->
                        <p class="mg-dt-pf">Phone: {{itm.mobile_number}}</p>
                        <div class="inst" *ngIf="itm.url_user != null">
                            <a href="https://www.instagram.com/{{itm.url_user}}" style="display: flex; align-items: center; margin-right: 10px;"><img class="ig-img" src="/assets/imges/ig.png" alt=""></a>
                            <p>: {{itm.url_user}}</p>
                        </div>
                        <div class="inst" *ngIf="itm.url_user === null">
                            <img class="ig-img" src="/assets/imges/ig.png" alt="">
                        </div>
                    </div>
                </div>
                    
                </div>

                <div class="line2"></div>
                <!-- ของผู้ใช้เห็น -->
                <ng-container *ngIf="user?.type == 'user' ">
                <ng-container *ngFor="let itm of data">
                    <div class="box-car" *ngIf="itm.img_car != null">
                    <img src="{{itm.img_car}}" alt="" class="imgcar" style="cursor: pointer;" (click)="goDetailcar(itm.upid)">
                    <div class="detailcar">
                        <p style="font-size: 20px; margin-bottom: 0;">{{itm.name_img}}</p>
                        <p style="font-size: 10px;">{{itm.detail}}</p>
                        <p style="font-size: 30px; color: white; ">Total Score : {{itm.total_score}}</p>
                    </div>
                </div>
            </ng-container>
        </ng-container>
                <!-- Admin เห็น -->
        <ng-container *ngIf="user?.type == 'admin' ">
            <ng-container *ngFor="let itm of data let i = index">
                <div class="box-car" *ngIf="itm.img_car != null">
                    <img src="{{itm.img_car}}" alt="" class="imgcar" style="cursor: pointer;" (click)="goDetailcar(itm.upid)">
                    <div class="detailcar">
                        <p style="font-size: 20px; margin-bottom: 0;">{{itm.name_img}}</p>
                        <p style="font-size: 10px;">{{itm.detail}}</p>
                        <div class="rank-today">
                            <p class="rank-font">Rank to day : {{getRankByCarId(itm.upid)}}</p>
                            <span class="rank-change" *ngIf="rankChanges && rankChanges.length > i">
                                <mat-icon [ngClass]="{
                                  'up': getRankChange(itm.upid) > 0,
                                  'down':getRankChange(itm.upid) < 0,
                                  'forward': getRankChange(itm.upid) === 0
                                }">
                                  {{ getRankChange(itm.upid) > 0 ? 'arrow_drop_up' :getRankChange(itm.upid) < 0 ? 'arrow_drop_down' : '' }}
                                </mat-icon> 
                                <p style="margin-left: 5px;">{{ getRankChange(itm.upid)}}</p>
                              </span>
                        </div>
                        <p style="margin-top: -10px;">Rank Yesterday : {{getRankbeforByCarId(itm.upid)}}</p>
                        <p style="font-size: 30px; color: white; ">Total Score : {{itm.total_score}}</p>
                    </div>
                </div>
            </ng-container>
         </ng-container>

            </div>
        </div>
        
    </div>  
</body>

<div class="loading-window"   *ngIf="loading" #loadingWindow >
    <div class="car">
        <div class="strike"></div>
        <div class="strike strike2"></div>
        <div class="strike strike3"></div>
        <div class="strike strike4"></div>
        <div class="strike strike5"></div>
        <div class="car-detail wheel"></div>
    </div>

    <div class="text">
        <span>Loading</span><span class = "dots">...</span>
    </div>
</div>