<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                    <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
                        <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
                    </a>
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;"  [routerLink]="['/toprank']">TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="/assets/imges/user.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="upload">Upload</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="prof">
                   <p class="pf" >PRO</p>
                   <p class="pf" style="color: #bb0102; margin-left: 2%;">FILE</p> 
                </div>
                <div class="topname"></div> 
            </div>
            <div class="main-main">
                <div class="head-profile">
                    <div *ngIf="user; else notLoggedIn" class="imageprofile2">
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile2">
                        </span>
                        <span *ngIf="!user.img_user">
                            <img src="/assets/imges/user.png" alt="" class="imgprofile2">
                          </span>
                    </div>
                    <div *ngIf="user; else notLoggedIn" class="detailprofile">
                        <p>Username: {{user.username}}</p>
                        <p class="mg-dt-pf">Email: {{user.email}}</p>
                        <p class="mg-dt-pf">Phone: {{user.mobile_number}}</p>
                    </div>
                    
                </div>

                <div class="line2"></div>
                <div class="car" *ngFor="let itm of data">
                    <img src="{{itm.img_car}}" alt="" class="imgcar">
                    <div class="detailcar">
                        <p style="font-size: 20px; margin-bottom: 0;">{{itm.name_img}}</p>
                        <p style="font-size: 10px;">{{itm.detail}}</p>
                        <p style="font-size: 30px; color: white; ">Total Score : {{itm.total_score}}</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>  
</body>

