<style>
    body {
        height: 100%;
        margin: 0;

    }

    .fullscreen-background {
        background-image: url('assets/imges/2021-Nissan-GT-R50-by-Italdesign-003-2160.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        /* 100% of the viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
      
    }
    
  
</style>

<body>
    <div class="fullscreen-background">
        <div class="logo-container" style="margin-top: -60px; margin-left: -50px;">
            <img class="logo" src="assets/imges/BC_3D_Color.png" alt="">
        </div>
        <div class="content-container">
            <mat-card style="width: 480px; background-color: rgba(33, 33, 33, 0.7); display: flex; justify-content: center; align-items: center; margin-left: 580px;  backdrop-filter: blur(10px); ">
                
                <br><br>
                <mat-card-header style="display: flex; justify-content: center; align-items: center; font-size: 50px; font-weight: bold;">
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" class="font-login1">
                        <span style="color: rgb(255, 255, 255);">LOG<span style="color: rgb(131, 4, 4);">IN</span></span>
                    </div>
                    
                </mat-card-header>
                <br><br><br>
                <mat-card-content >
                    <form  (ngSubmit)="onSubmit(email, password)">
                        <p class="font-login1" style="color: white;">Email</p>
                        <mat-form-field class="comment" appearance="outline" style="width: 415px; margin-top: -15px; ">
                            <mat-label style="color: white;">Email</mat-label>
                            <input style="color: white; " type="email" name="email" [(ngModel)]="email"  matInput required >
                        </mat-form-field><br>
                        <p class="font-login1"  style="color: white;">password</p>
                        <mat-form-field  class="comment" appearance="outline" style="width: 415px;  margin-top: -15px;">
                            <mat-label style="color: white;">Password</mat-label>
                            <input style="color: white;" type="password" name="password" [(ngModel)]="password"   matInput required >
                        </mat-form-field>
              

                    <mat-card-actions style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                        <button class="font-login2"  mat-raised-button style="background-color: #990000; color: #fff; width: 100px;">
                            Login
                        </button>
                       
                    </mat-card-actions>
                          </form>
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <label  class="font-login1" style="color: #fff;">
                            <input type="checkbox" [(ngModel)]="rememberMe" name="remember" >  Remember
                        </label>
                        
                    </div>
                    <br><br><br><br>

                    <div style="margin-bottom: -20px; display: flex; flex-direction: row; align-items: center; justify-content: center;">
                        <span style="color: #fff; font-size: 11px;" class="font-login1">Not a member?</span><span [routerLink]="['/signin',]"  style="color: #8c0404; font-size: 11px; margin-left: 6px; cursor: pointer;" class="font-login1">Register now</span> 
                    </div>
                    <br><br>

                    
                    


                </mat-card-content>
            </mat-card>
        </div>
    </div>



</body>

