
.logo-container {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    margin-top: 10%;
    margin-left: 10%;
    max-width: 30%;
    max-height: 30%;
}

mat-card {
    width: 480px; 
    background-color: rgba(33, 33, 33, 0.7); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 580px;  
    backdrop-filter: blur(10px); 
}
mat-form-field {
    width: 415px; 
    margin-top: 0px; 
}
.nomem{
    margin-top: 20px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}


::ng-deep .comment .mdc-notched-outline > *{
    border-color: white !important;
}

.comment input::placeholder{
    color: rgb(255, 255, 255);
}

@media (max-width: 700px) {
    .logo{
        margin-top: 15%;
        margin-left: 15%;
    }
    .content-container {
        margin-left: 0;
    }
    mat-card {
        width: 350px;
        margin-left: 0;
    }
    mat-form-field {
        width: 250px; 
        margin-top: -5px; 
    }
    .nomem{
        margin-top: 20px; 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: center;
    }
}