<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                    <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
                        <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
                    </a>
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;"  [routerLink]="['/toprank']">TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="/assets/imges/user.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="upload">Upload</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="prof">
                   <p class="pf" >List</p>
                   <p class="pf" style="color: #bb0102; margin-left: 2%;">User</p> 
                </div>
                <div class="topname">
                    <form style="display: flex; align-items: center; justify-content: center;">
                        <input type="text" placeholder="Search..." >
                        <button type="submit" class="bt-search">
                            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                        </button>
                    </form>
                </div> 
            </div>
            <div class="main-main">
                <div class="card-user" (click)="goShowProfile()">
                    <img src="/assets/imges/user.png" alt="" class="user_img">
                    <div class="user_detail">
                        <p>User ID: 007</p>
                        <p style="margin-top: -10px;">Username: Heequaytad</p>
                        <p style="margin-top: -10px;">Email: yyyyyyyyaddmsu.ac.th</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>  
</body>


<div class="loading-window"   *ngIf="loading" #loadingWindow >
    <div class="car">
        <div class="strike"></div>
        <div class="strike strike2"></div>
        <div class="strike strike3"></div>
        <div class="strike strike4"></div>
        <div class="strike strike5"></div>
        <div class="car-detail wheel"></div>
    </div>

    <div class="text">
        <span>Loading</span><span class = "dots">...</span>
    </div>
</div>