<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav-bar-main">
             
                
                <div class="nav-bar-main">
                    <img src="assets/imges/BC_3D_Color.png" alt="" class="logo">
                    <div *ngIf="user; else notLoggedIn">
                      <!-- Logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button>
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-3-1/128/racing_person_car_avatar_sport_occupation_speed-512.png" alt="" class="imgprofile">
                          </span>
                       
                        <p class="uname">{{user.username }}</p>
                        <img src="assets/imges/menu.png" alt="" style="width: 40px; margin-left: 2vw;">
                      </div>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>
                  



                
            </div>
            
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="topten">
                   <p class="tt" >Vote</p>
                   <p class="tt" style="color: #bb0102; margin-left: 2%;">CAR</p> 
                </div>
                <div class="topname">
                    <!-- <p>#1/10 PUMITLE</p>
                    <p style="color: #bb0102; margin-left: 2%; margin-right: 2%;">1500</p> 
                    <p>point</p> -->
                 </div> 
            </div>
            <!-- <div class="main-main">
                <div style="display: flex; flex-direction: row;">
                    <img src="/assets/imges/2023-Porsche-Mission-X-Concept-001-1080.jpg" class="img-main" alt=""> 
                    <span style="display: flex; align-items: center; margin-right: 10px; font-size: 50px; color: #bb0102;">V</span><span style="display: flex; align-items: center; margin-right: 10px; margin-left: -10px; font-size: 50px; color: #000000;">s</span>
                    <img  src="https://www.wsupercars.com/wallpapers-regular/Lamborghini/2023-Lamborghini-Lanzador-Concept-001-1080.jpg" class="img-main" alt=""> 
                </div>
                
            </div>
            <div class="bt-main">
                    <button mat-button style="display: flex; align-items: center; justify-content: center; background-color: #bb0102; margin-left: 75px; margin-top: 50px;">Vote here</button>
            </div>
           -->
           <div class="main-main">
            <div style="display: flex; flex-direction: row;">
              <img src="/assets/imges/2023-Porsche-Mission-X-Concept-001-1080.jpg" class="img-main" alt="" (click)="selectImage('left')">
              <span style="display: flex; align-items: center; margin-right: 10px; font-size: 50px; color: #bb0102;">V</span>
              <span style="display: flex; align-items: center; margin-right: 10px; margin-left: -10px; font-size: 50px; color: #000000;">s</span>
              <img src="https://www.wsupercars.com/wallpapers-regular/Lamborghini/2023-Lamborghini-Lanzador-Concept-001-1080.jpg" class="img-main" alt="" (click)="selectImage('right')">
            </div>
          </div>
          
          <div class="bt-main">
            <button mat-button style="display: flex; align-items: center; justify-content: center; background-color: #bb0102; margin-left: 75px; margin-top: 50px;" (click)="vote()">Vote here</button>
          </div>
          
            
          
      
        </div>
    </div>    
</body>
