<body>
    <div class="container">
        <div class="nav-bar">
          <div class="nav-bar-main">
            <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
              <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
            </a>
            <div *ngIf="user; else notLoggedIn" class="profile">
              <!-- Logged in user -->
              <button mat-raised-button class="buttonRK" *ngIf="user.type == 'admin'" (click)="goListUsers()" style="background-color: #bb0102; color: white;" >LIST USER</button>
                <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;"  [routerLink]="['/toprank']">TOP RANK</button>
                <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                <div class="line"></div>
                <span *ngIf="user.img_user">
                    <img src="{{user.img_user}}" alt="" class="imgprofile">
                </span>
                <span *ngIf="!user.img_user">
                    <!-- Display a default image if user.img_user is not defined -->
                    <img src="/assets/imges/user.png" alt="" class="imgprofile">
                  </span>
                <p class="uname">{{user.username }}</p>
                    <select class="menu" (change)="onSelectChange($event)">
                        <option value="" disabled selected hidden>MENU</option>
                        <option class="menu-option" value="home">Home</option>
                        <option class="menu-option" *ngIf="user.type == 'admin'" value="listuser">List User</option>
                        <option class="menu-option" value="profile">Profile</option>
                        <option class="menu-option" value="vote">Vote</option>
                        <option class="menu-option" value="toprank">Top Rank</option>
                        <option class="menu-option" value="logout">Logout</option>
                    </select>
            </div>
            <ng-template #notLoggedIn>
              <!-- Not logged in user -->
              <div class="profile">
                <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white;" >TOP RANK</button>
                <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
              </div>
            </ng-template>
          </div>  
            
        </div>
        <div class="main-content">
            <div class="head-main">
                <div class="topten">
                   <p class="tt" >Vote</p>
                   <p class="tt" style="color: #bb0102; margin-left: 2%;">CAR</p> 
                </div>
                <div class="topname">
                  <form class="form-set" *ngIf="user?.type == 'admin'">
                    <label style="font-size: 30px; margin-top: 5px; text-shadow: 1px 1px 2px gray;">Time</label>
                      <select class="select-form" [(ngModel)]="selectedMinute" name="selectedMinute" >
                        <option *ngFor="let minute of minutes" [value]="minute" >{{ minute }}</option>
                      </select>
                
                      <h5>:</h5>
                      <select class="select-form"  [(ngModel)]="selectedSecond" name="selectedSecond">
                        <option *ngFor="let second of seconds" [value]="second" >{{ second }}</option>
                      </select>
                    <button mat-raised-button class="buttonRK" style="background-color: #bb0102; color: white; margin-left: 5px; box-shadow: 2px 2px 2px black;" (click)="setTime()">Set</button>
                  </form>
                </div>
            </div>
           <div class="main-main">
         
            <div *ngFor="let item of data; let i = index">
              <!-- Display images only for the first pair available -->
              <div *ngIf="i === 0">
                <div class="vote-main">
                  <!-- img 1 -->
                  <div style="display: flex; flex-direction: column; align-items: center;">
                    <img src="{{item.img_car}}" class="img-main" alt="" (click)="selectImage('left', item, i,item.upid,item.score,data[i + 1].score,data[i + 1].upid)" >
                    <p class="namecar">{{item.name_img}}</p>
                    <p class="namecar" style="margin-top: -15px;">Total Score: {{totalScores[item.upid]}}</p>
                    <!-- <p class="namecar" style="margin-top: -15px;">New Total Score: {{newtotalScores[item.upid]}}</p> -->
                    <p *ngIf=" selectImageId === item.upid" class="namecar" style="margin-top: -15px;">Score added : {{winnerScoreIncrease | number: '1.3-3'}}</p>
                    <!-- แสดงคะแนนที่ถูกเพิ่มขึ้นไปยังผู้แพ้ -->
                    <p *ngIf=" selectImageId !== item.upid" class="namecar" style="margin-top: -15px;">Score added : {{loserScoreDecrease| number: '1.3-3'}}</p>
                  
                    
                  </div>
                  <div class="vs">
                    <span class="font-v" style="color: #bb0102;">V</span>
                    <span class="font-s" style="color: #000000;">s</span>  
                  </div>
                  
                  <!-- img 2 -->
                  <div style="display: flex; flex-direction: column; align-items: center;">
                    <img src="{{data[i + 1].img_car}}" class="img-main" alt="" (click)="selectImage('right', data[i + 1], i + 1,data[i + 1].upid,data[i + 1].score,item.score,item.upid)">
                    <p class="namecar">{{data[i + 1].name_img}}</p>
                    <p class="namecar" style="margin-top: -15px;">Total Score: {{totalScores[data[i + 1].upid]}}</p>
                    <!-- <p class="namecar" style="margin-top: -15px;">New Total Score: {{newtotalScores[data[i + 1].upid]}}</p> -->
                    <p *ngIf="selectImageId === data[i + 1].upid" class="namecar" style="margin-top: -15px;">Score added : {{ winnerScoreIncrease| number: '1.3-3'}}</p>
                    <!-- แสดงคะแนนที่ถูกเพิ่มขึ้นไปยังผู้แพ้ -->
                    <p *ngIf="selectImageId !== data[i + 1].upid" class="namecar" style="margin-top: -15px;">Score added : {{ loserScoreDecrease | number: '1.3-3' }}</p>

                    
                  </div>
                </div>
              </div>
            </div>
          </div>



         
      
        </div>
    </div>    
</body>

<div class="loading-window"   *ngIf="loading" #loadingWindow >
  <div class="car">
      <div class="strike"></div>
      <div class="strike strike2"></div>
      <div class="strike strike3"></div>
      <div class="strike strike4"></div>
      <div class="strike strike5"></div>
      <div class="car-detail wheel"></div>
  </div>

  <div class="text">
      <span>Loading</span><span class = "dots">...</span>
  </div>
</div>
