<body>
    <div class="container">
        <div class="nav-bar">
                <div class="nav-bar-main">
                    <a (click)="goMain()" style="display: flex; align-items: center; cursor: pointer;">
                        <img src="assets/imges/BC_3D_Color.png" (click)="goMain()" alt="" class="logo">
                    </a>
                    <div *ngIf="user; else notLoggedIn" class="profile">
                      <!-- Logged in user -->
                        <button mat-raised-button class="buttonRK" (click)="goToprank()" style="background-color: #bb0102; color: white;" >TOP RANK</button>
                        <!-- <button mat-raised-button style="background-color: #bb0102; color: white;" (click)="logout()">LOGOUT</button> -->
                        <div class="line"></div>
                        <span *ngIf="user.img_user">
                            <img src="{{user.img_user}}" alt="" class="imgprofile">
                        </span>
                        <span *ngIf="!user.img_user">
                            <!-- Display a default image if user.img_user is not defined -->
                            <img src="/assets/imges/user.png" alt="" class="imgprofile">
                          </span>
                        <p class="uname">{{user.username }}</p>
                            <select class="menu" (change)="onSelectChange($event)">
                                <option value="" disabled selected hidden>MENU</option>
                                <option class="menu-option" value="profile">Profile</option>
                                <option class="menu-option" value="upload">Upload</option>
                                <option class="menu-option" value="toprank">Top Rank</option>
                                <option class="menu-option" value="logout">Logout</option>
                            </select>
                    </div>
                    <ng-template #notLoggedIn>
                      <!-- Not logged in user -->
                      <div class="profile">
                        <button mat-raised-button  (click)="goToprank()"  class="buttonRK" style="background-color: #bb0102; color: white;">TOP RANK</button>
                        <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/login',]">LOGIN</button>
                      </div>
                    </ng-template>
                  </div>         
        </div>
        <div class="main-content" *ngFor="let itm of data">
            <div class="head-main">
                <div class="topten">
                   <p class="tt" >TOP 10 THE BEST</p>
                   <p class="tc">CAR</p> 
                </div>
                <div class="topname">
                    <p>#1 <span>{{itm.username}}</span></p>
                    <p style="color: #bb0102; margin-left: 2%; margin-right: 2%;">{{itm.total_score}}</p> 
                    <p>point</p>
                 </div> 
            </div>
            <div class="main-main">
                <a (click)="goDetailcar(itm.upid)" class="main_img">
                    <img src="{{itm.img_car}}" class="img-main" alt="">
                </a>
                
            </div>
            <div class="bt-main">
                <button mat-raised-button class="bt-vote" style="background-color: #bb0102; color: white;"[routerLink]="['/vote',]">Start Vote</button>
                <button mat-raised-button style="background-color: #bb0102; color: white;" [routerLink]="['/upload',]">Upload Car</button>
            </div>
          
                <ngx-slick-carousel  class="slide-main" #slickModal="slick-carousel" [config]="slickConfig">
                    <div ngxSlickItem *ngFor="let image of topten" let i = index class="img-slide">
                    
                        <a (click)="goDetailcar(image.upid)" style="cursor: pointer;">
                            <img [src]="image.img_car" alt="Image">
                        </a>
                    
                    </div>
                </ngx-slick-carousel>
        </div>
    </div>    
</body>