@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    width: 100%;
    height: auto;
    background-image: url("/assets/imges/BG-Bestcar.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Bebas Neue", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.nav-bar-main{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 100px;
}
.profile{
    display: flex;
    align-items: center;
}
.imgprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.uname{
    color: white;
    margin-left: 1vw;
}
.line{
    background-color: white; 
    width: 2px; 
    height: 40px; 
    margin-right: 1vw;
    border-radius: 40%;
}
.buttonRK{
    margin-right: 1vw;
}
.main-content{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 700px){
    body{
        background-image: url("/assets/imges/BG-BcForPhone.png");
    }
    .logo{
        width: 40%;
    }
    .line{
        display: none;
    }
    .buttonRK{
        display: none;
    }
    .main-content{
        height: 780px;
    }

    .head-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-main{
        width: 100px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .bt-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bt-main button{
        width: 15vw;
        font-size: xx-small;
        margin-bottom: 2vw;
    }
    
}
.head-main{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topten{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tt {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 4vw;
}
.topname{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}
.main-main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-main{
    width: 80vw;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.bt-main{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide-main{
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.232);
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    margin-bottom: 20px;
}
 .img-slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
.img-slide img{
    width: 15vw;
    border-radius: 20px;
}
.carousel {
    width: 90%;
    margin: auto;
  }